[submodule "uchile_ltm/ltm"]
	path = uchile_ltm/ltm
	url = https://github.com/mpavezb/ltm
[submodule "uchile_ltm/ltm_db"]
	path = uchile_ltm/ltm_db
	url = https://github.com/mpavezb/ltm_db
[submodule "uchile_ltm/ltm_addons"]
	path = uchile_ltm/ltm_addons
	url = https://github.com/mpavezb/ltm_addons
[submodule "uchile_ltm/ltm_samples"]
	path = uchile_ltm/ltm_samples
	url = https://github.com/mpavezb/ltm_samples
