<launch>

	<arg name="map_name" default="map"/>
	<arg name="robot" default="$(optenv UCHILE_ROBOT maqui)" />

	<!-- Map Server -->
	<node pkg="map_server" type="map_server" name="map_server"
		respawn="true" args="$(find uchile_maps)/maps/$(arg map_name).yaml"/>

	<!-- Only static obstacles -->
	<node pkg="map_server" type="map_server" name="map_server_obstacles" ns="/$(arg robot)/knowledge/map"
		respawn="true" args="$(find uchile_maps)/maps/$(arg map_name)_obstacles.yaml">
		<remap from="map" to="map_full"/>
		<remap from="map_metadata" to="map_obstacles_metadata"/>
		<remap from="static_map" to="static_map_obstacles"/>
	</node>

</launch>
